@bgc_color:#e7e7e7;

.reply_wrap{
    width: 200px;
    height: 100px;
    background-color: white;
}
.specialcommment{
    width: 100%;
    border-top: 1px solid #ccc;
}
.commentStyle{
    width: 100%;
}
.comment_ul{
    width: 100%;    
        position: relative;
        padding: 50px 0;
        background-color: white;
        .comment_avatar{
           position: absolute;
           top: 15px;
           left: 3px;
           a{
            color: blue;
           }
        }
        .comment_username{
            position: absolute;
            left: 55px;
            top: 15px;
            font-size: 12px;
            text-overflow: initial;
            // span{
            //     color:black
            // }
        }
        .reply{
            position: absolute;
            right: 20px;
            top: 70px;
        }

        i{
            position: absolute;
            top: 70px;
            left: 55px;
        }
    
}
.addcomment_wrap{
    width: 100%;
    height: 50px;
    background-color: @bgc_color;
    .TextArea{
         margin: 10px 0 0px 60px;
         width: 70%;
    }
    .submitbtn{
        margin-left: 10px;
    }
}
.clearfix:after{
    visibility: hidden;
    clear: both;
    display: block;
    content: '.';
    height: 0;
}
.clearfix{
*zoom: 1;
}
