
@primary-color:#242424;
@font-color:#cccccc;
@bgc_color:#e7e7e7;
.register{
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.nav{
    width: 100%;
    height: 70px;
    background-color: @primary-color;
    overflow: hidden;
}
.nav_ul{
    float: left;
    height:100%;
    margin-left: 35px;
    li{
        display: block;
        float: left;
        height: 100%;
        text-align: center;
        color: @font-color;
    }
}
.btn{
    float: left;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    background-color: @primary-color;
    color: @font-color;
    margin-top:18px;
    margin-left: 10px;
    border: 1px solid @font-color ;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid white;
    color:white
}
.link{
    color: @font-color;
    height: 70px;
    display: block;
    line-height: 70px;
    padding:0 17px;
}
.link:hover{
    color: @font-color;
    background-color:black;
}

.logo{
    margin-left: 115px;
    float: left;
    line-height: 70px;

    img{
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-right: 5px;
    }
}
.nav_search{
    float: left;
    margin-top: 20px;
    width:160px;
    margin-left: 90px;
    border-radius:10px;
}

